apiVersion: apps/v1
kind: Deployment
metadata:
  name: helios-api
  namespace: helios
spec:
  replicas: 5
  template:
    spec:
      containers:
      - name: helios-api
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "4Gi"
            cpu: "2000m"
