apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: helios

resources:
- namespace.yaml
- configmap.yaml
- secret.yaml
- deployment.yaml
- service.yaml
- hpa.yaml
- ingress.yaml

commonLabels:
  app.kubernetes.io/name: helios
  app.kubernetes.io/part-of: swissbrain
  app.kubernetes.io/managed-by: kustomize
